body {
    -webkit-touch-callout: none;    /* prevents any callouts to copy image, etc when tap to hold on phone */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevents copy and pasting by the user */
    background-color: #fff;
    height:100%; width:100%; /* makes body take full width of screen */
    margin:0px;
    padding:0px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; /* fonts used by app */
}

/* applies for every page in the app */
.page {
    width:100%;
    height:100%;
}

.container {
    text-align: center;
}

.graph-container {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* applies for the opening page of the app */
.opening-page {
    position: absolute;
    left: 50%; top: 50%; /* makes top left corner of .app div centered */
    transform: translate(-50%, -50%); /* shifts to center properly */
    width: 100%; /* makes the app take full width of the body */
    background:url(../img/logo.png) no-repeat center top; /* adds the STEAM engine lgo */
    text-align:center;
    padding:215px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
}

.navbar {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #fcfcfc;
}

.nav-item {
    color: #7c7d84;
    font-size: 12px;
}

.nav-item-active {
    color: #428bca;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.main-page-button {
    background-color: #5cb85c;
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-radius: 8px;
}

.fb-row {
    text-align: left;
    padding-bottom: 20px;
}

#regional-box {
    min-height: 40px;
    background-color: #f30a23; /* in case colour gradient not supported */
    background: linear-gradient(to right, #00ff83, #aefc41, #f7623d, #ff4444);
}
